
---  


# **Python Built-in Data Types**

Everything in Python is an object. Use the following url to [visualize](http://pythontutor.com/visualize.html#mode=display) the code.


1. [None](#none)

2. [Numbers](#number)
   1. Integers
   2. Floating Point Numbers
   3. Complex Numbers
   4. Booleans

3. [Sequences](#sequence)
   1. Strings
   2. Tuples
   3. Lists
   4. Sets

4. [Dictionaries](#dictionary)


---

### 1. None <a class='anchor' id='none'></a>

Defines a Null value, or no value at all. Similar to the Null value in other programming languages.

It is not the same as 0, False, or an empty collection.

In [1]:
a = None
print(f'{a} -> {type(a)}')

None -> <class 'NoneType'>

In [2]:
#None is a built-in object that is available to the interpreter
'None' in dir(__builtins__)

True

In [3]:
#Create new instance of None object
b = None
print(f'{b} -> {type(b)}')

#None adopts singleton pattern; therefore, all None objects point to the same instance 
print(id(None)) 
print(id(b))

None -> <class 'NoneType'>
140728223046872
140728223046872


---

### 2. Numbers <a class='anchor' id='number'></a>

Numbers are immutable.

*Why do we say that numbers are immutable?*

When you perform an operation on a number, the result is computed and stored in a new memory location but accessed with the same variable. The orginal value remains at the original memory location.

Python has four built-in numerical types:

1. [Integers](#integer)

2. [Floating Point Numbers](#float)   

3. [Complex Numbers](#complex)

4. [Booleans](#boolean)

Python also has two other data types (e.g., Demical and Fractions) which are accessible by importing the respectives modules.

&nbsp;

#### 2.1 Integers <a class='anchor' id='integer'></a>

C# has: 
- 8-bits such as sbyte and byte  
- 16-bts such as short and ushort  
- 32-bits such as int and uint  
- 64-bits such as long and ulong  

In Python, Integers are limited only by available memory. Other packages and libraries (e.g., Pandas, Numpy, etc.) may define other Integer data types based on size.

In [4]:
#Decimal representation (Base 10)
a = 11
print(f'{a} -> {type(a)}')

#Binary representation (using Prefix 0b or 0B); Note: output is in Base 10
b = 0b1011
print(f'{b} -> {type(b)}')

#Octal representation (using Prefix 0o or 0O); Note: output is in Base 10
c = 0o13
print(f'{c} -> {type(c)}')

#Hexadecimal representation (using Prefix 0x or 0X); Note: output is in Base 10
d = 0xb
print(f'{d} -> {type(d)}')

#Allows the use of underscores to make number literals more readable
e = 1_100_000
print(e)
f = 0x_4_ad
print(f)

#Supports format specifier when printing to terminal
print(f'{e:,}')

11 -> <class 'int'>
11 -> <class 'int'>
11 -> <class 'int'>
11 -> <class 'int'>
1100000
1197
1,100,000

In [5]:
#Numbers are immutable; therefore, it is not possible to alter a single digit in a single instance; only create new instance
g = 10
print(f'Value: {g} -> Object ID: {id(g)}')

#Variable is re-assigned to new the number object/instance
h = g + 1   
print(f'Value: {h} -> Object ID: {id(h)}')

Value: 10 -> Object ID: 2815272512080
Value: 11 -> Object ID: 2815272512112

#### 2.2 Floating Point Numbers <a class='anchor' id='float'></a>

C# has:
- 32-bits float
- 64-bits double

In Python, Floating Point numbers has "unlimited" precision based on the IEEE 754 standard. Other packages and libraries (e.g., Pandas, Numpy, etc.) may define other Floating Point number data types.

In [6]:
#Decimal representation (Base 10) with flexible entry
a = 3.1428
print(f'{a} -> {type(a)}')

b = 10.
print(f'{b} -> {type(b)}')

c = .001
print(f'{c} -> {type(c)}')

#Decimal representation with exponent notation
d = 2.3e10 #Read as 2.3 * 10^10
print(d)

e = 5.3e-10 #Read as 5.3 * 10^-10
print(e)

3.1428 -> <class 'float'>
10.0 -> <class 'float'>
0.001 -> <class 'float'>
23000000000.0
5.3e-10

In [7]:
#Floating point values are 64-bit “double-precision” values based on the IEEE 754 standard

#Maximum negative and positive value
import sys
f = sys.float_info.max
g = 1.7976931348623159e+308
print(f'Maximum Positive Value: {f}; Infinity: {g}')

h = sys.float_info.max * -1
i = -1.7976931348623159e+308
print(f'Maximum Negative Value: {h}; Infinity: {i}')

#Minimum non-zero value with maximum precision
j = sys.float_info.min
k = j/10 # Notice the reduction in precision
print(f'Minimum Non-Zero Value: {j}; Other: {k}')

Maximum Positive Value: 1.7976931348623157e+308; Infinity: inf
Maximum Negative Value: -1.7976931348623157e+308; Infinity: -inf
Minimum Non-Zero Value: 2.2250738585072014e-308; Other: 2.225073858507203e-309

#### 2.3 Complex Numbers <a class='anchor' id='complex'></a>

Mathematical concept comprised of a real and an imaginary units that are utilzied to explore vector graphics, sound frequency analysis, fractals, etc.

In [8]:
#Complex numbers must have atleast an imaginary unit
a = 2j
print(f'{a} -> {type(a)}')

b = 2 + 3.14j
print(f'{b} -> {type(b)}')

c = 2.178 - 4j
print(f'{c} -> {type(b)}')

#Possible to leverage an imaginary exponent
d = 2.15e100j
print(f'{d} -> {type(d)}')

e = 1.25e-3j
print(f'{e} -> {type(d)}')

2j -> <class 'complex'>
(2+3.14j) -> <class 'complex'>
(2.178-4j) -> <class 'complex'>
2.15e+100j -> <class 'complex'>
0.00125j -> <class 'complex'>

#### Arithmetic Operations

In [9]:
#Python supports basic arithmetic (e.g., addition, subtraction, multiplication, division). 

#Order of operation is based on the BEDMAS rule (Brackets, Exponents, Division/Multiplication/Modulus, Addition/Subtraction)
a = (1 + 3) - 4 * 3 + 3**2
print(f'Output: {a}')

#Division always outputs float
b = 10 / 2           
print(f'Output: {b} -> {type(b)}')

#Integer or floor division operator
c = 10 // 3          
print(f'Output: {c} -> {type(c)}')

#Modulus operator - Outputs the remainder of dividing the left operand by the right operand
d = 25 % 3
print(f'Output: {d}')

e = 7.12 % 3
print(f'Output: {e}')

Output: 1
Output: 5.0 -> <class 'float'>
Output: 3 -> <class 'int'>
Output: 1
Output: 1.12

In [10]:
#Floating Point Representation Error arises due to how Floating Point Numbers are stored in memory
f = 0.1 + 0.2
print(f'Output: {f} -> Floating-point representation error')

g = 6.13 % 3
print(f'Output: {g} -> Floating-point representation error')

Output: 0.30000000000000004 -> Floating-point representation error
Output: 0.1299999999999999 -> Floating-point representation error

In [11]:
#Evaluation of arithmetic expressions stored as a String
h = '11 ** 2'
print(f'Evaluate: {h} -> {eval(h)}')

i = '25 ** 0.5'     #Square root
print(f'Evaluate: {i} -> {eval(i)}')

j = '64 ** (1/3)'   #Cube root     
print(f'Evaluate: {j} -> {eval(j)}')

k = '25 % 4.1'
print(f'Evaluate: {k} -> {eval(k)}')

Evaluate: 11 ** 2 -> 121
Evaluate: 25 ** 0.5 -> 5.0
Evaluate: 64 ** (1/3) -> 3.9999999999999996
Evaluate: 25 % 4.1 -> 0.40000000000000213

In [12]:
#Perform (most) arthemtics with complex numbers
#Math methods (e.g., Ceiling, Floor, Sin, Cos, Tan, etc.) are not supported
a = '1j'
b = '(1+1.2j)'
c = '(2-3j)'
d = '(2+3j)'
e = '10'
f = '0.5'

print(f'Evaluate: {a} + {b} -> {eval(a + "+ " + b)}')

print(f'Evaluate: {a} - {b} -> {eval(a + " - " + b)}')

print(f'Evaluate: {c} * {d} -> {eval(c + " * " + d)}')

print(f'Evaluate: {c} / {b} -> {eval(c + " / " + b)}')

print(f'Evaluate: {e} * {a} -> {eval(e + " * " + a)}')

print(f'Evaluate: {a} ** {f} -> {eval(a + " ** " + f)}')

Evaluate: 1j + (1+1.2j) -> (1+2.2j)
Evaluate: 1j - (1+1.2j) -> (-1-0.19999999999999996j)
Evaluate: (2-3j) * (2+3j) -> (13+0j)
Evaluate: (2-3j) / (1+1.2j) -> (-0.6557377049180327-2.2131147540983607j)
Evaluate: 10 * 1j -> 10j
Evaluate: 1j ** 0.5 -> (0.7071067811865476+0.7071067811865476j)

#### 2.4 Booleans <a class='anchor' id='boolean'></a>

There are only two possible Boolean literal values: **True** or **False**. Booleans are considered a numeric type.

However, any python object can be tested for truth value. All of the following will be considered **False:**

  * None
  * False
  * Any zero numeric (e.g., 0, 0.0, 0j)
  * Any empty sequence (e.g., '', {}, [])

Everything else will be considered **True**.

In [13]:
a = True
print(f'Type of {a} -> {type(a)}')

b = False
print(f'Type of {b} -> {type(b)}')

Type of True -> <class 'bool'>
Type of False -> <class 'bool'>

In [14]:
#True and False are built-in objects that are available to the interpreter
print('True' in dir(__builtins__))
print('False' in dir(__builtins__))

True
True

In [15]:
#Create new variable for the True object
c = True
print(f'{c} -> {type(c)}')

#True and False instances adopts singleton pattern; therefore, all None objects point to the same instance 
print(f'True -> {id(True)}') 
print(f'Variable "c" -> {id(c)}')

True -> <class 'bool'>
True -> 140728222996584
Variable "c" -> 140728222996584

In [16]:
#Booleans function as a numeric data type, which supports numeric operations (e.g., arithmetic operations)
print(f'Output: {True + (False / True)}')
print(f'Output: {10 + True ** 4}')

Output: 1.0
Output: 11

In [17]:
#Most Python objects have a Boolean context
d = None
print(f'Boolean Evaluation: {d} -> {bool(d)}')

e = 0
print(f'Boolean Evaluation: {e} -> {bool(e)}')

f = 1
print(f'Boolean Evaluation: {f} -> {bool(f)}')

g = 0.
print(f'Boolean Evaluation: {g} -> {bool(g)}')

h = 3.14
print(f'Boolean Evaluation: {h} -> {bool(h)}')

i = ''
print(f'Boolean Evaluation: {i} -> {bool(i)}')

j = 'Hello'
print(f'Boolean Evaluation: {j} -> {bool(j)}')

k = []
print(f'Boolean Evaluation: {k} -> {bool(k)}')

l = [2, 3]
print(f'Boolean Evaluation: {l} -> {bool(l)}')

m = {}
print(f'Boolean Evaluation: {m} -> {bool(m)}')

n = {1: 'narendra', 2: 'pershad'}
print(f'Boolean Evaluation: {n} -> {bool(n)}')

o = ()
print(f'Boolean Evaluation: {o} -> {bool(o)}')

p = (4, 'comp216')
print(f'Boolean Evaluation: {[]} -> {bool(p)}')

Boolean Evaluation: None -> False
Boolean Evaluation: 0 -> False
Boolean Evaluation: 1 -> True
Boolean Evaluation: 0.0 -> False
Boolean Evaluation: 3.14 -> True
Boolean Evaluation:  -> False
Boolean Evaluation: Hello -> True
Boolean Evaluation: [] -> False
Boolean Evaluation: [2, 3] -> True
Boolean Evaluation: {} -> False
Boolean Evaluation: {1: 'narendra', 2: 'pershad'} -> True
Boolean Evaluation: () -> False
Boolean Evaluation: [] -> True


---

### 3. Sequences <a class='anchor' id='sequence'></a>

Python has several built-in sequences data types, which are used to encompass a collection of items. These data types are also classified as Iterables; therefore, the object can be be “iterated over”.

Immutable Sequences include:

1. [Strings](#string)
2. [Tuples](#tuple)

Mutable Sequences includes:

3. [Lists](#list)
4. [Sets](#set)

&nbsp;

#### 3.1 Strings <a class='anchor' id='string'></a>

Strings are an immutable sequences of character data. The literal is delimited by single quotes, double quotes, triple single quotes or triple double quotes. By default, the character data are represented in unicode (**UTF-8**).

Strings are limited only by available memory. Unlike most modern languages, Python does not have a **Char** type.

In [18]:
#Use single quotes as the delimiter
a = 'To be or not to be'
print(f'{a} -> {type(a)}')

#Use double quotes as the delimiter
b = "To be or not to be"
print(f'{b} -> {type(b)}')

#Note: The use of single and double quotation delimiters does change the instrinc value
print(f'Are the two expressions the equivalent? {a == b}')

#Triple quotation for multiple line Strings
c= '''
This is a multiple
line string.

Additional line of text.'''
print(c)

To be or not to be -> <class 'str'>
To be or not to be -> <class 'str'>
Are the two expressions the equivalent? True

This is a multiple
line string.

Additional line of text.

In [19]:
#Working with special characters

#Use the Escape Sequence (\) to suppress or apply the special interpretation
d = 'Narendra\'s toys'              #Supress the special meaning of the apostrophe character
print(f'Output: {d}')

e = '\n\\COMP 216\n\\Networking'    #Apply the special meaning to the new line character
print(f'Output:{e}')

#Alternative method to supress "some" special characters with double quote delimiters
f = "Narendra's toys"
print(f'Output: {f}')

#Other special characters always require the Escape Sequence
g = "\\COMP 216\tNetworking\\"
print(f'Output:{g}')

Output: Narendra's toys
Output:
\COMP 216
\Networking
Output: Narendra's toys
Output:\COMP 216	Networking\

In [20]:
#Note: The use of the line continuation symbol
#It is illegal to place any character after the slash
h = 'First line '\
'Second line '\
'Third line'
print(f'Output: {h}')

Output: First line Second line Third line

In [21]:
#Specify non-keyboard character via Hexcode
i = '\u00c4\u00e8'          #Four digit hex value
print(f'Non-standard Character: {i} -> {type(i)}')
j = '\U000000c4\U000000e8'  #Eight digit hex value
print(f'Non-standard Character: Character: {j} -> {type(j)}')

#Specify and retrieve non-keyboard character via ASCII
k = chr(169)
print(f'Non-standard Character: {k} -> {type(k)}')
l = ord('©')                #Determine ASCII Integer value of the character
print(f'ASCII Value for © is {l} -> {type(l)}')

#m = ord('©ABC') #--> Raise an exception (Type Error); chr() and ord() methods only accept one value

Non-standard Character: Äè -> <class 'str'>
Non-standard Character: Character: Äè -> <class 'str'>
Non-standard Character: © -> <class 'str'>
ASCII Value for © is 169 -> <class 'int'>

In [22]:
#Binary Strings are used for various file types (e.g., images, PDFs, etc.) and sockets
n = 'Normal string'
print(f'{n} -> {type(n)}')
print(list(n))

o = b'Binary string'
print(f'{o} -> {type(o)}')
print(list(o))

Normal string -> <class 'str'>
['N', 'o', 'r', 'm', 'a', 'l', ' ', 's', 't', 'r', 'i', 'n', 'g']
b'Binary string' -> <class 'bytes'>
[66, 105, 110, 97, 114, 121, 32, 115, 116, 114, 105, 110, 103]

#### String Operations and Methods

In [23]:
#Utlize numeric operands
p = 'Foo'
q = 'Bar'
r = 'Baz'

s = p + q + r               #Return a new String by concatenating other strings
print(f'Output: {s}')

t = p * 5                   #Return a new String by concatenating other strings
print(f'Output: {t}')

Output: FooBarBaz
Output: FooFooFooFooFoo

In [24]:
#Common formatting methods
u = 'the quick brown fox jumps over the lazy dog'
print(f'Output: {u} -> {u.upper()}')                  #Return a new String with all the letters in upper-case
print(f'Output: {u} -> {u.capitalize()}')             #Returm a new String with the first letter of each word in upper-case
print(f'Output: {u} -> {u.title()}')                  #Returm a new String with the first character in upper-case
print(f'Output: {u.split()} -> {type(u.split())}')    #Convert from String to List by splitting on each space character

Output: the quick brown fox jumps over the lazy dog -> THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
Output: the quick brown fox jumps over the lazy dog -> The quick brown fox jumps over the lazy dog
Output: the quick brown fox jumps over the lazy dog -> The Quick Brown Fox Jumps Over The Lazy Dog
Output: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] -> <class 'list'>

In [25]:
#Replace and search methods
v = u.replace(' ', ':')             #Replace ' ' (space characters) with ':' (colon character)
print(f'Output: {u} -> {v}')
print(f'Output: {v.split(":")}')    #Return a List by spiltting string on the ':' characters

w = 'Ba'
x = 'Zoo'
print(f'Number of occurances with substring "{w}": {s.count(w)}')     #Return Integer that represents the occurances with substring

print(f'Lowest index with substring "{w}": {s.find(w)}')              #Return Integer that represents the lowest index with substring
print(f'Next index with substring "{w}": {s.find(w, s.find(w)+1)}')   #Return Integer that represents the next index with substring
print(f'Index with substring "{x}": {s.find(x)}')                     #Return "-1" if the substring is not found

print(f'Lowest index with substring "{w}": {s.index(w)}')             #Return Integer that represents the lowest index with substring
#print(f'Index with substring "{x}": {s.index(x)}')                   #--> Raise an exception (Value Error) if the substring is not found

print(f'Length of {s}: {len(s)}')                                     #Return Integer that represents length of String

Output: the quick brown fox jumps over the lazy dog -> the:quick:brown:fox:jumps:over:the:lazy:dog
Output: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Number of occurances with substring "Ba": 2
Lowest index with substring "Ba": 3
Next index with substring "Ba": 6
Index with substring "Zoo": -1
Lowest index with substring "Ba": 3
Length of FooBarBaz: 9

In [26]:
#Other formatting and conversion methods 
y = '     and a funny name Ståle    '
z = y.encode()
print(f'Output: {z} -> {type(z)}')          #Encode to byte string in specified encoding. If no encoding is specified, UTF-8 will be used.
print(f'Output: {y} -> {y.strip()}')        #Remove the leading and the trailing spaces

aa = y.partition('funny')                   #Search for specified substring and create a 3-item Tuple
print(f'Output: {aa} -> {type(aa)}')

ab = ['C','O', 'M', 'P', '2', '1', '6']
ac = '-'.join(ab)                           #Convert from Iterable (e.g., List) to String by joining characters and place seperator character between each character 
print(f'Output: {ab} -> {ac}')

Output: b'     and a funny name St\xc3\xa5le    ' -> <class 'bytes'>
Output:      and a funny name Ståle     -> and a funny name Ståle
Output: ('     and a ', 'funny', ' name Ståle    ') -> <class 'tuple'>
Output: ['C', 'O', 'M', 'P', '2', '1', '6'] -> C-O-M-P-2-1-6

In [27]:
#Classification methods
ad = 'COMP216'
print(f'Only letter-based characters? {ad.isalpha()}')
print(f'Only number-based characters? {ad.isdigit()}')
print(f'Letter and number-based characters? {ad.isalnum()}')

Only letter-based characters? False
Only number-based characters? False
Letter and number-based characters? True

In [28]:
#String indexing & slicing
print(f'Output: {s[1]}')            #Return one character at specified index
print(f'Output: {s[0:7]}')          #Return substring within specified index range --> Known as String Slicing
print(f'Output: {s[0:7:2]}')        #Return substring within specified index range with skipping step value
print(f'Output: {s[-7:-1]}')        #Return substring within specified index range using negative values

Output: o
Output: FooBarB
Output: FoaB
Output: oBarBa

In [29]:
#String literal formatting
ae = 'Peter'
af = 23
ag = 2131324

ah = 'Hello, ' + ae + ' is ' + str(af) + ' years old.'                                   #String literal with non-string data using concatenation and str() constructor
print(f'Output: {ah}')

ai = 'Hello, %s!' % ae                                                                   #String literal with % operator --> Generally, not recommended
print(f'Output: {ai}')
ai = 'Hello, %s is %d years old.' % (ae, af)                                             #String literal with % operator --> Generally, not recommended
print(f'Output: {ai}')

aj = f'Hello, {ae.upper()} is {af+1} years old. Bank account balance is ${ag:,}.'       #F-String with replacement fields which are expressions delimited by {} (curly braces). --> Recommended
print(f'Output: {aj}')

ak = 3.1415926                  #Number formatting to display a subset of digits after the decimal point
print(f'Output: {ak:.4f}')

al = 0.6715256456               #Number formatting to display the number as percentage with subset of digits after the decimal point
print(f'Output: {al:.2%}')

Output: Hello, Peter is 23 years old.
Output: Hello, Peter!
Output: Hello, Peter is 23 years old.
Output: Hello, PETER is 24 years old. Bank account balance is $2,131,324.
Output: 3.1416
Output: 67.15%

In [30]:
#String immutability and object referencing

am = 'Narendra'
an = am                                 #Note: Multiple variables can point to the same object 
print(f'''Output: {am} -> {id(am)}
Output: {an} -> {id(an)}''')

an = am.upper()                         #Note: Once the String is transformed, a new object is created that is re-assigned to designated variable
print(f'''Output: {am} -> {id(am)}
Output: {an} -> {id(an)}''')

#Create a copy of the String object at a different point in memory
ao = am[:]                              #Not achievable via String Slicing; Only creates a Shallow copy that references the original object
print(f'''Output: {am} -> {id(am)}
Output: {ao} -> {id(ao)}''')

import copy
ao = copy.copy(am)                      #Not achievable via Copy method; Only creates a Shallow copy that references the original object
print(f'''Output: {am} -> {id(am)}
Output: {ao} -> {id(ao)}''')

ao = ''.join(am)                        #Achievable via Join method with '' as the seperator; Create a Deep copy that references a different object
print(f'''Output: {am} -> {id(am)}
Output: {ao} -> {id(ao)}''')

Output: Narendra -> 2813213238960
Output: Narendra -> 2813213238960
Output: Narendra -> 2813213238960
Output: NARENDRA -> 2813229903920
Output: Narendra -> 2813213238960
Output: Narendra -> 2813213238960
Output: Narendra -> 2813213238960
Output: Narendra -> 2813213238960
Output: Narendra -> 2813213238960
Output: Narendra -> 2813229905968

#### 3.2 Tuples <a class='anchor' id='tuple'></a>

Immutable, ordered and indexable collection of Python objects which are delimited by parentheses.

May hold or nest various object types (e.g., Integers, Strings, Lists, Dictionaries, etc.), and heterogeneous object types can exist in one Tuple. Comprise of arbitrary number of objects and be nested to arbitrary depth (i.e., Only limited by computing resource).

In [31]:
a = (-1.0, 0, 1, 2, 3, 4, 'five', 'six', [7.0, 'eight'])
print(f'{a} -> {type(a)}')

(-1.0, 0, 1, 2, 3, 4, 'five', 'six', [7.0, 'eight']) -> <class 'tuple'>

#### Tuple Operations and Methods

In [32]:
#Tuple indexing & slicing
print(f'Output: {a[5]}')         #Return one item at specified index
print(f'Output: {a[-1]}')        #Return one item at specified negative index (e.g., last item)
print(f'Output: {a[-2]}')        #Return one item at specified negative index (e.g., second last item)

print(f'Output: {a[:3]}')        #Return sub-collection of items within specified index range --> Known as Tuple Slicing
print(f'Output: {a[5:]}')
print(f'Output: {a[1:6:2]}')

#a[1] = 10                       #--> Raise an exception (Value Error) item re-assignment is not support on Tuples
#a[1:3] = (10, 11)               #--> Raise an exception (Value Error) item re-assignment is not support on Tuples

Output: 4
Output: [7.0, 'eight']
Output: six
Output: (-1.0, 0, 1)
Output: (4, 'five', 'six', [7.0, 'eight'])
Output: (0, 2, 4)

In [33]:
#Common methods
print(f'Length of Tuple {a} -> {len(a)} items')                 #Return Integer that represents the number of items in the Tuple

print(f'Number of occurances of item "4": {a.count(4)}')        #Return Integer that represents the occurances of the specified item
print(f'Number of occurances of item "4": {a.count(4.000)}')    #Note: Integer and Floating Point Number treated as same entity
print(f'Number of occurances of item "nine": {a.count("nine")}')

print(f'Lowest index of item "4": {a.index(4)}')                #Return Integer that represents the lowest index with the specified item
print(f'Lowest index of item "4": {a.index(4.000)}')            #Note: Integer and Floating Point Number treated as same entity
#print(f'Lowest index of item "nine": {a.index("nine")}')       #--> Raise an exception (Value Error) if the item is not found

Length of Tuple (-1.0, 0, 1, 2, 3, 4, 'five', 'six', [7.0, 'eight']) -> 9 items
Number of occurances of item "4": 1
Number of occurances of item "4": 1
Number of occurances of item "nine": 0
Lowest index of item "4": 5
Lowest index of item "4": 5

In [34]:
#Tuple unpacking to decompose desired values and assign values to variables

b = ('larry', 'curly', 'moe', 'shemp', 'joe')
c, d, e, f, h = b                               
print(f'Output: {c, d, e, f, h}')

i, j, k, _, l = b                   #Use '_' operator to ignore or not assign provided value to variable
print(f'Output: {i, j, k, l}')

m, n, o, *rest = b
print(f'Output: {m, n, o, rest}')   #Use '*' operator to capture multiple values from Tuple
p, q, *rest, r = b
print(f'Output: {p, q, r, rest}')   #Use '*' operator to capture multiple values from Tuple

s, t, u, *_ = b                     #Use '_*' operator to capture multiple values from Tuple and ignore the remaining values
print(f'Output: {s, t, u}')
v, *_, w = b
print(f'Output: {v, w}')

Output: ('larry', 'curly', 'moe', 'shemp', 'joe')
Output: ('larry', 'curly', 'moe', 'joe')
Output: ('larry', 'curly', 'moe', ['shemp', 'joe'])
Output: ('larry', 'curly', 'joe', ['moe', 'shemp'])
Output: ('larry', 'curly', 'moe')
Output: ('larry', 'joe')

#### 3.3 Lists <a class='anchor' id='list'></a>

Mutable, ordered and indexable collection of Python objects which are delimited by [] (square brackets).

May hold or nest various object types (e.g., Integers, Strings, Lists, Dictionaries, etc.), and heterogeneous object types can exist in one List. Comprise of arbitrary number of objects and be nested to arbitrary depth (i.e., Only limited by computing resource).

In [35]:
a = [-1.0, 0, 1, 2, 3, 4, 'five', 'six', [7.0, 'eight']]
print(f'{a} -> {type(a)}')

[-1.0, 0, 1, 2, 3, 4, 'five', 'six', [7.0, 'eight']] -> <class 'list'>

#### List Operations and Methods

In [36]:
#List indexing & slicing

print(f'Output: {a[5]}')            #Return one item at specified index
print(f'Output: {a[-1]}')           #Return one item at specified negative index (e.g., last item)
print(f'Output: {a[-2]}')           #Return one item at specified negative index (e.g., second last item)
print(f'Output: {a[8][1]}')         #Return nested item with list (i.e., items within the sublist)

print(f'Output: {a[:3]}')           #Return sub-collection of items within specified index range --> Known as Tuple Slicing
print(f'Output: {a[5:]}')
print(f'Output: {a[1:6:2]}')

a[1] = 10                           #Item re-assignment in List
print(f'Updated List: {a}')
a[2:4] = (11, 12.0)                 #Multi-item re-assignment in List
print(f'Updated List: {a}')

Output: 4
Output: [7.0, 'eight']
Output: six
Output: eight
Output: [-1.0, 0, 1]
Output: [4, 'five', 'six', [7.0, 'eight']]
Output: [0, 2, 4]
Updated List: [-1.0, 10, 1, 2, 3, 4, 'five', 'six', [7.0, 'eight']]
Updated List: [-1.0, 10, 11, 12.0, 3, 4, 'five', 'six', [7.0, 'eight']]

In [37]:
#Utlize numeric operands
b = [1, 2, 3, 4]
c = [5, 4, 6]

d = b + c                       #Return a new List that pools together all of items from the supplied Lists
print(f'{d} -> {type(d)}')

e = c * 3                       #Return a new List with multiple copies of items from the supplied List
print(f'{e} -> {type(e)}')

[1, 2, 3, 4, 5, 4, 6] -> <class 'list'>
[5, 4, 6, 5, 4, 6, 5, 4, 6] -> <class 'list'>

In [38]:
#Common modification methods

b.append(5)                 #Add item to end of the existing List
print(f'Output: {b}')

b.append([6,7])             #Note: Add item (in the original data type) to end of the existing List
print(f'Output: {b}')

b.extend([6,7])             #Insert each item from iterable to the end of the existing List
b.extend((8,9,10))          #Note: Supports any Python iterable as an input
print(f'Output: {b}')

b.insert(0, 0)              #At the specified index, insert the provided item
print(f'Output: {b}')

b.remove([6,7])             #Remove specified item
print(f'Output: {b}')

#b.remove(11)               #-> Raises an exception (Value Error) if the item is not found

b.pop()                     #Remove and return last item in the List
print(f'Output: {b}')

b.pop(5)                    #Remove and return item from the specified index
print(f'Output: {b}')

b.clear()                   #Remove all items within the List
print(f'Output: {b}')

Output: [1, 2, 3, 4, 5]
Output: [1, 2, 3, 4, 5, [6, 7]]
Output: [1, 2, 3, 4, 5, [6, 7], 6, 7, 8, 9, 10]
Output: [0, 1, 2, 3, 4, 5, [6, 7], 6, 7, 8, 9, 10]
Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Output: [0, 1, 2, 3, 4, 6, 7, 8, 9]
Output: []

In [39]:
#Other commmon methods

f = ['Toyota', 'Honda', 'Ford', 'Volvo', 'Tesla', 'Volkswagen', 'Kia']
print(f'Output: {f} -> {id(f)} ')
g = [1, 2, 3.0, 4, 'five', 'six', 7.0]
print(f'Output: {g} -> {id(g)} ')

print(f'Length of List: {f} -> {len(f)} items')                         #Return Integer that represents the number of items in the List

print(f'Number of occurances of item "Honda": {f.count("Honda")}')      #Return Integer that represents the occurances of the specified item
print(f'Number of occurances of item "Mazda": {f.count("Mazda")}')      #Return Integer that represents the occurances of the specified item

print(f'Lowest index of item "Ford": {f.index("Ford")}')                #Return Integer that represents the lowest index with the specified item
#print(f'Lowest index of item "Mazda": {a.index("Mazda")}')             #--> Raise an exception (Value Error) if the item is not found

f.sort()                                                                #Sort items by acending order and update the existing List
print(f'Output: {f} -> {id(f)}')
f.sort(key=len)                                                         #Sort items based on provided function (e.g., length of string) and update the existing List
print(f'Output: {f} -> {id(f)}')
#g.sort()                                                               #-> Raise an exception (Type Error) when sorting with different object types

Output: ['Toyota', 'Honda', 'Ford', 'Volvo', 'Tesla', 'Volkswagen', 'Kia'] -> 2813229904960
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0] -> 2813229904576
Length of List: ['Toyota', 'Honda', 'Ford', 'Volvo', 'Tesla', 'Volkswagen', 'Kia'] -> 7 items
Number of occurances of item "Honda": 1
Number of occurances of item "Mazda": 0
Lowest index of item "Ford": 2
Output: ['Ford', 'Honda', 'Kia', 'Tesla', 'Toyota', 'Volkswagen', 'Volvo'] -> 2813229904960
Output: ['Kia', 'Ford', 'Honda', 'Tesla', 'Volvo', 'Toyota', 'Volkswagen'] -> 2813229904960

In [40]:
#List mutability and object referencing

#Most operations (seen above) mutate the existing List that is stored at a specific memory point 
h = g                                   #Note: Multiple variables can point to the same object 
print(f'''Output: {g} -> {id(g)}
Output: {h} -> {id(h)}''')

h.append([8,9])                         #Both variables point to the same mutated List object
print(f'''Output: {g} -> {id(g)}
Output: {h} -> {id(h)}''')

#Create a copy of the List object at a different point in memory
i = g[:]                                #Achievable via List Slicing
print(f'''Output: {g} -> {id(g)}
Output: {i} -> {id(i)}''')

j = g.copy()                            #Achievable via the Copy method
print(f'''Output: {g} -> {id(g)}
Output: {j} -> {id(j)}''')

Output: [1, 2, 3.0, 4, 'five', 'six', 7.0] -> 2813229904576
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0] -> 2813229904576
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0, [8, 9]] -> 2813229904576
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0, [8, 9]] -> 2813229904576
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0, [8, 9]] -> 2813229904576
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0, [8, 9]] -> 2813229898240
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0, [8, 9]] -> 2813229904576
Output: [1, 2, 3.0, 4, 'five', 'six', 7.0, [8, 9]] -> 2813212393216

#### 3.4 Sets <a class='anchor' id='set'></a>

Mutable, unordered and non-indexable collection of unique Python objects which are delimited by {} (curly brackets).

May hold or nest various immutable object types (e.g., Integers, Floats, Strings, Tuples, etc.), and heterogeneous object types can exist in one Set. Does not hold mutable object types (e.g., Lists, Dictionaries, Sets, etc.) as members of a Set. Comprise of arbitrary number of objects and be nested to arbitrary depth (i.e., Only limited by computing resource).

In [41]:
a = {0, 1, 2, 3, 4, 'five', 'six', 7.0, 8.0, (9, 'ten')}
print(f'{a} -> {type(a)}')

b = set('narendra pershad')                                     #Create Set from Iterable object (e.g., String) with Set Constructor
print(f'{b} -> {type(b)}')

c = set()                                                       #Create empty Set with Set Constructor
print(f'{c} -> {type(c)}')
d = {}                                                          #Not possible to create empty Set with {} delimiter as the delimiter is utlized for Dictionary objects
print(f'{d} -> {type(d)}')

#e = {0, 1, 2, 3, 4, 'five', 'six', 7.0, 8.0, [9, 'ten']}       #-> Raise an exception (Type Error) as it is not possible to create Set with mutable data type (e.g., List)
#f = {0, 1, 2, 3, 4, 'five', 'six', 7.0, 8.0, {9, 'ten'}}       #-> Raise an exception (Type Error) as it is not possible to create Set with mutable data type (e.g., Set)

#Frozenset is an immutable variant of a Set
g = frozenset([9, 'ten'])
print(f'{g} -> {type(g)}')
h = {0, 1, 2, 3, 4, 'five', 'six', 7.0, 8.0, g}                 #Create Set with one ore more Frozen Sets as a item in the collection
print(f'{h} -> {type(h)}')

{0, 1, 2, 3, 4, 'five', (9, 'ten'), 7.0, 8.0, 'six'} -> <class 'set'>
{'n', 'd', 'e', 'p', 'r', 'h', 'a', ' ', 's'} -> <class 'set'>
set() -> <class 'set'>
{} -> <class 'dict'>
frozenset({9, 'ten'}) -> <class 'frozenset'>
{0, 1, 2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 'six'} -> <class 'set'>

#### Set Operations and Methods

In [42]:
#Set indexing & slicing is not possible

#print(f'Output: {h[5]}')            #-> Raise an exception (Type Error) as the operation is not supported
#print(f'Output: {h[1:6:2]}')        #-> Raise an exception (Type Error) as the operation is not supported

In [43]:
#Utlize numeric operands
h = {0, 1, 2, 3, 4, 'five', 'six', 7.0, 8.0, g}

i = {'twelve', 1.3*10}
h |= i                                  #Insert each item Set into arbitary locations of the another Set (shortcut for Update method)
print(f'Output: {h}')

k = {0, 2, 4, 'six', 8.0, 10, 12, 'fourteen', 1.6*10}

l = h & k                               #Return anew Set that contains the items that exist in both Sets
print(f'Intersection of Sets: {l}')

m = h | k                               #Return a new Set that contains all items from both Sets without duplicates
print(f'Union of Sets: {m}')

n = h - k                               #Return a new Set that contains all items the first Set and not the second Set
print(f'Difference between Sets: {n}')

Output: {0, 1, 2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 13.0, 'six', 'twelve'}
Intersection of Sets: {0, 2, 4, 8.0, 'six'}
Union of Sets: {0, 1, 2, 3, 4, frozenset({9, 'ten'}), 7.0, 8.0, 10, 12, 13.0, 'fourteen', 16.0, 'six', 'five', 'twelve'}
Difference between Sets: {frozenset({9, 'ten'}), 1, 'five', 3, 7.0, 13.0, 'twelve'}

In [44]:
#Common modification methods
h = {0, 1, 2, 3, 4, 'five', 'six', 7.0, 8.0, g}

h.add(11.0)                 #Add item into arbitary location of the existing Set 
print(f'Output: {h}')

h.add(1.0)                  #Sets only capture unique values (i.e., No duplicate values present even if the item is provided as seperate data type)
print(f'Output: {h}')

i = {'twelve', 1.3*10}
h.update(i)                 #Insert each item from Iterable (e.g., Set) into arbitary locations of the another Set
print(f'Output: {h}')

j = [14, 1.5e1]     
h.update(j)                 #Insert each item from Iterable (e.g., List) into arbitary locations of the another Set 
print(f'Output: {h}')

h.pop()                     #Remove random item in the Set
print(f'Output: {h}')

h.discard(1)                #Remove specified item in the Set, if present in the Set
print(f'Output: {h}')

h.discard(20.000)           #Remove specified item in the Set, if present in the Set (i.e., No exception raised)
print(f'Output: {h}')

Output: {0, 1, 2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 'six'}
Output: {0, 1, 2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 'six'}
Output: {0, 1, 2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 13.0, 'six', 'twelve'}
Output: {0, 1, 2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 13.0, 14, 15.0, 'six', 'twelve'}
Output: {1, 2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 13.0, 14, 15.0, 'six', 'twelve'}
Output: {2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 13.0, 14, 15.0, 'six', 'twelve'}
Output: {2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 13.0, 14, 15.0, 'six', 'twelve'}

In [45]:
#Other commmon methods
k = {0, 2, 4, 'six', 8.0, 10, 12, 'fourteen', 1.6*10}

l = h.intersection(k)                               #Return anew Set that contains the items that exist in both Sets
print(f'Intersection of Sets: {l}')

m = h.union(k)                                      #Return a new Set that contains all items from both Sets without duplicates
print(f'Union of Sets: {m}')

n = h.difference(k)                                 #Return a new Set that contains all items the first Set and not the second Set
print(f'Difference between Sets: {n}')

print(f'Length of Set: {h} -> {len(h)} items')      #Return Integer that represents the number of items in the Set

o = h.copy()                                        #Create a copy of the Set object at a different point in memory
print(f'''Output: {h} -> {id(h)}
Output: {o} -> {id(o)}''')

Intersection of Sets: {8.0, 2, 'six', 4}
Union of Sets: {frozenset({9, 'ten'}), 0, 2, 3, 4, 7.0, 8.0, 10, 11.0, 12, 13.0, 14, 15.0, 'fourteen', 16.0, 'six', 'five', 'twelve'}
Difference between Sets: {frozenset({9, 'ten'}), 'five', 3, 7.0, 11.0, 13.0, 14, 15.0, 'twelve'}
Length of Set: {2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 13.0, 14, 15.0, 'six', 'twelve'} -> 13 items
Output: {2, 3, 4, 'five', frozenset({9, 'ten'}), 7.0, 8.0, 11.0, 13.0, 14, 15.0, 'six', 'twelve'} -> 2813229953088
Output: {frozenset({9, 'ten'}), 2, 3, 4, 'five', 7.0, 8.0, 11.0, 13.0, 14, 15.0, 'six', 'twelve'} -> 2813229886592


---

### 4. Dictionaries <a class='anchor' id='dictionary'></a>

Mutable and ordered collection of key-value pairs which are delimited by {} (curly brackets). However, Python’s implementation of a data structure does not suport indexing.

Each key must be unique and immutable (e.g., Strings, Integers, Tuples, etc.) and cannot utilize mutable object types. One value can be associated with each key, which may hold or nest various object types (e.g., Integers, Strings, Lists, Dictionaries, etc.). Keys and values may be heterogeneous object types. Seperate each key from its associated value using a  : (colon).

In [46]:
a = {'red': 'Danger', 1: 'first', 'second': 2, (3,4): '6 7 8 9'.split()}
print(f'{a} -> {type(a)}')

b = dict([                                          #Alternative approach for defining Dictionary objects with the constructor and key-value pairs specified in a List of Tuples structure
    ('red', 'Danger'), 
    (1, 'first'),
    ('second',  2),
    ((3,4), '6 7 8 9'.split())
])
print(f'{b} -> {type(b)}')

c = dict(zip(                                       #Alternative approach for defining Dictionary objects with the constructor and the Zip method
    ['red', 1, 'second', (3,4)], 
    ['Danger', 'first', 2, '6 7 8 9'.split()]
))
print(f'{c} -> {type(c)}')

{'red': 'Danger', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9']} -> <class 'dict'>
{'red': 'Danger', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9']} -> <class 'dict'>
{'red': 'Danger', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9']} -> <class 'dict'>

#### Dictionary Operations and Methods

In [47]:
#Access Dictionary values

d = a['second']                                 #Retrieve and return value from Dictionary by specifying the key
print(f'Output: {d}')

#e = a['third']                                 #-> Raise an exception (Key Error) as Key does not exist in the Dictionary
#print(f'Output: {e}')

f = a.get('second')                             #Retrieve and return value from Dictionary by specifying the key, if the key is present
print(f'Output: {f}')

g = a.get('third')                              #Retrieve and return value from Dictionary by specifying the key, if the key is present or return None
print(f'Output: {g}')

h = a.get('third', 'Key is not Available')      #If the key is not present, return specified the value
print(f'Output: {h}')

Output: 2
Output: 2
Output: None
Output: Key is not Available

In [48]:
#Dictionary indexing & slicing is not possible

#print(f'Output: {a[1]}')            #-> Raise an exception (Key Error) as the operation is not supported
#print(f'Output: {a[1:4:2]}')        #-> Raise an exception (Key Error) as the operation is not supported

In [49]:
#Modify Dictionary values

a['yellow'] = 'Caution'                         #Add new key-value pair to the existing Dictionary (i.e., last entry)
print(f'Output: {a}')

a['red'] = 'Hazard'                             #Update and associate new value for the existing key
print(f'Output: {a}')

a.update({                                      #Insert each key-value pair in the Dictionary to the end of the existing Dictionary
    3.0: ['third', 'tertiary'],
    tuple('fourth'): 4.0
})
a.update([                                      #Insert each key-value pair (specified in a List of Tuples) to the end of the existing Dictionary
    ('5th', {5, '5'}), 
    ('6th', {6, '6'})
])
print(f'Output: {a}')

i = a.pop(3.0)                                  #Remove and return the specified key-value from the Dictionary
print(f'Item Removed: {i} -> Output: {a}')
j = a.pop(7.0, 'Key is not Available')          #Remove and return the specified key-value from the Dictionary or return alternative value (i.e., No error is raised) 
print(f'Item Removed: {j} -> Output: {a}')

k = a.popitem()                                 #Remove and return the last inserted key-value from the Dictionary
print(f'Item Removed: {k} -> Output: {a}')

Output: {'red': 'Danger', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution'}
Output: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution'}
Output: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution', 3.0: ['third', 'tertiary'], ('f', 'o', 'u', 'r', 't', 'h'): 4.0, '5th': {5, '5'}, '6th': {6, '6'}}
Item Removed: ['third', 'tertiary'] -> Output: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution', ('f', 'o', 'u', 'r', 't', 'h'): 4.0, '5th': {5, '5'}, '6th': {6, '6'}}
Item Removed: Key is not Available -> Output: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution', ('f', 'o', 'u', 'r', 't', 'h'): 4.0, '5th': {5, '5'}, '6th': {6, '6'}}
Item Removed: ('6th', {6, '6'}) -> Output: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution', ('f', 'o', 'u', 'r', 't', 'h'): 4.0, '5th': {5, '5'}}

In [50]:
#Convert Dictionary to an Array-like object

l = a.items()                   #Returns Array-like or Iterable object with each key-value pair stored as Tuples
print(f'{l} -> {type(l)}')

m = a.keys()                    #Returns Array-like or Iterable object with each key from the Dictionary
print(f'{m} -> {type(m)}')

n = a.values()                  #Returns Array-like or Iterable object with each value from the Dictionary
print(f'{n} -> {type(n)}')

dict_items([('red', 'Hazard'), (1, 'first'), ('second', 2), ((3, 4), ['6', '7', '8', '9']), ('yellow', 'Caution'), (('f', 'o', 'u', 'r', 't', 'h'), 4.0), ('5th', {5, '5'})]) -> <class 'dict_items'>
dict_keys(['red', 1, 'second', (3, 4), 'yellow', ('f', 'o', 'u', 'r', 't', 'h'), '5th']) -> <class 'dict_keys'>
dict_values(['Hazard', 'first', 2, ['6', '7', '8', '9'], 'Caution', 4.0, {5, '5'}]) -> <class 'dict_values'>

In [51]:
#Other commmon methods

print(f'Length of Dictionary: {a} -> {len(a)} key-value pairs')     #Return Integer that represents the number of items in the Set

o = a.copy()                                                        #Create a copy of the Dictionary object at a different point in memory
print(f'''Output: {a} -> {id(a)}
Output: {o} -> {id(o)}''')

Length of Dictionary: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution', ('f', 'o', 'u', 'r', 't', 'h'): 4.0, '5th': {5, '5'}} -> 7 key-value pairs
Output: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution', ('f', 'o', 'u', 'r', 't', 'h'): 4.0, '5th': {5, '5'}} -> 2813213274496
Output: {'red': 'Hazard', 1: 'first', 'second': 2, (3, 4): ['6', '7', '8', '9'], 'yellow': 'Caution', ('f', 'o', 'u', 'r', 't', 'h'): 4.0, '5th': {5, '5'}} -> 2813229904832